// Italian
// $primary-color: #6b0c04;
// $secondary-color: #aa7b4f;
// $background-color: #cabfac;
// $background-color-2: #e7e6e3;
// $accent-color: #3a3f5f;
// $text-color: #33312e;

// $primary-color: #8f0b13;
// $secondary-color: #380f17;
// $background-color: #4c4f54;
// $background-color-2: #efdfc5;
// $accent-color: #dc2011;
// $text-color: #252b2b;

// //Purple
// $secondary-color: #765d67;
// $primary-color: #6d3c52;
// $background-color: #2d222f;
// $background-color-2: #1b0c1a;
// $accent-color: #dc2011;
// $text-color: #fadcd5;

// Dark
// $primary-color: #59001c;
// $secondary-color: #ffe6e6;
// $background-color: #30332f;
// $background-color-2: #0d1216;
// $accent-color: #c1c1bd;
// $text-color: white;

// Orange
$secondary-color: #c5630c;
$primary-color: #a47f6f;
$accent-color: #415057;
$background-color: #33353a;
$background-color-2: #1a1f24;
$text-color: white;

// Dev
$primary-color: rgb(151, 117, 250);
$buttonText: white;
$background-color: #1b1f22;
$background-color-2: #1b1f22;
