// Italian
// $primary-color: #6b0c04;
// $secondary-color: #aa7b4f;
// $background-color: #cabfac;
// $background-color-2: #e7e6e3;
// $accent-color: #3a3f5f;
// $text-color: #33312e;

// Blue
$primary-color: #8f0b13;
$secondary-color: #380f17;
$background-color: #4c4f54;
$background-color-2: #efdfc5;
$accent-color: #dc2011;
$text-color: #252b2b;
