@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap");
// Fonts
$nav-fonts: "Permanent Marker", cursive;
$headers-font: "Permanent Marker", cursive;
$button-font: "Bebas Neue", sans-serif;

// Dev
$primary-color: #a80000;
$secondary-color: #a80000;
$button-text: white;
$text-color: white;
$accent-color: #707070;
$background-color: #1b1f22;
$background-color-2: #1b1f22;
