<form class="contact-form" (submit)="sendEmail($event)">
  <div class="left-side">
    <h2>Contact Me</h2>
    <div class="separator"></div>
    @for(field of fields; track field.id){
    <div class="form__group field">
      <input
        type="text"
        [name]="field.id"
        class="form__field"
        [placeholder]="field.label"
        required=""
        autocomplete="off"
      />
      <label for="name" class="form__label">{{ field.label }}</label>
    </div>
    }
  </div>
  <div class="right-side">
    <h3>Message Me</h3>
    <textarea
      name="message"
      rows="2"
      required
      placeholder="Write text here..."
      autocomplete="off"
      rows="10"
      cols="50"
    ></textarea>
    <primary-button width="100%" type="submit" value="Send Message"
      >Send Message</primary-button
    >
  </div>
</form>
