@import "../../styles/index.scss";

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.contact-form {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-right: 2px solid #9b9b9b;

    .separator {
      background-color: $primary-color;
      height: 1px;
      width: 80px;
      margin-bottom: 20px;
    }
  }

  .right-side {
    padding: 30px;
    display: flex;
    flex-direction: column;

    textarea {
      background: transparent;
      box-sizing: border-box;
      border: none;
      color: $text-color;

      &::placeholder {
        color: $text-color;
      }
      &:focus {
        outline: none !important;
        border: transparent;
        border-radius: 4px;
      }
    }
  }
}
.form__field {
  margin-bottom: 20px;
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary-color, $secondary-color);
  border-image: $primary-color;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: $primary-color;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
