@import "./styles/index.scss";
.wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: $background-color-2;
  align-items: center;
  .content {
    padding: 14px;
    max-width: 1180px;
    margin: auto;
  }
}
