@import "../../styles/index.scss";
.wrapper {
  display: flex;
  align-items: center;

  .name {
    color: $secondary-color;
  }

  .left-side {
    margin-right: 20px;

    .info {
      display: flex;
      align-items: center;

      primary-button {
        margin-right: 1rem;
      }
    }
  }

  h1 {
    display: inline-block;
  }
  .right-side {
    width: 350px;
    height: 350px;
    background-color: $background-color;
  }
}
