<div class="wrapper">
  <!-- <h2>A bit about me</h2> -->
  <p>
    I'm a dedicated front-end developer specializing in Angular, but I’m always
    eager to explore new front-end technologies and trends. My goal is to build
    intuitive, responsive, and visually engaging websites that not only look
    great but also provide a smooth user experience. With a keen eye for design
    and a deep understanding of modern front-end frameworks, I focus on writing
    clean, efficient code while prioritizing accessibility and performance.
    Whether you're looking for a dynamic single-page app or a fully responsive
    site, I’m excited to bring your ideas to life.
  </p>
  <div class="icons">
    <icons-section name="Frameworks" [icons]="frameworkIcons"></icons-section>
    <icons-section name="Languages" [icons]="languageIcons"></icons-section>
    <icons-section name="Tools" [icons]="toolIcons"></icons-section>
    <icons-section name="Others" [icons]="otherIcons"></icons-section>
  </div>
</div>
