@import "../../../styles/index.scss";

.wrapper {
  box-shadow: #534e4a;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px 13px;
    background-color: $accent-color;
    border: 1px solid #534e4a;
    color: $text-color;
    font-weight: 200;
    font-family: $headers-font;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 300ms ease, transform 300ms ease;
    cursor: pointer;
    border-radius: 24px;
    outline: none;
    height: 50px;
    &:hover {
      border-radius: 4px;
      color: $primary-color;
      background-color: white;
    }
  }

  .loader {
    border: 5px solid;
    border-top: 5px solid $primary-color;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
