@import "../../../styles/index.scss";

.wrapper {
  box-shadow: #534e4a;
  button {
    padding: 16px 32px 13px;
    background-color: $accent-color;
    border: 1px solid #534e4a;
    color: $text-color;
    font-weight: 200;
    font-family: $headers-font;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 300ms ease, transform 300ms ease;
    cursor: pointer;
    border-radius: 24px;
    outline: none;

    &:hover {
      border-radius: 4px;
      color: $primary-color;
      background-color: white;
    }
  }
}
