.wrapper {
  background-color: red;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: blue;
  }

  .card-content {
    transition: all 1s ease-out;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

    &:hover {
      width: 150px;
      height: 150px;
    }
  }
}
