* {
  transition: 0.5s;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d7;
  border-radius: 15px;
  padding: 10px;
  width: 400px;

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.nav-menu-item {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
    &.active {
      color: orange;
    }
  }

  a:hover {
    color: orange;
  }

  a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: orange;
    transition: width 0.5s ease;
  }

  a:hover::after {
    width: 105%;
  }
}
