$default-font-size: 14px;
$active-font-size: 18px;
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d7;
  border-radius: 15px;
  padding: 10px;
  width: 400px;

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.nav-menu-item {
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    font-size: $default-font-size;

    &.active,
    &:hover {
      color: orange;
      font-size: $active-font-size;
    }
  }
}
