@import "./app/styles/index.scss";
body {
  font-family: sans-serif;
  background-color: $background-color-2;
  color: $text-color;
}
h1 {
  font-size: 55px;
}

h2 {
  font-size: 30px;
}

a {
  color: $text-color;
}
