@import "../../styles/index.scss";
$border-radius: 15px;
$padding: 10px;
$wrapper-width: 400px;
$default-font-size: 14px;
$active-font-size: 18px;

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $padding;
  width: $wrapper-width;

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.nav-menu-item {
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    transition: all 0.3s;
    font-size: $default-font-size;

    &.active,
    &:hover {
      color: $primary-color;
      font-size: $active-font-size;
    }
  }
}
